body {
  margin: 0;
  font-family: sans-serif;;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.prompt {
  text-align: center;
}

.section {
  background: white;

  padding: 7rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.row {
  margin: -2rem;
  overflow: auto;
}

.grid-item {
  width: calc(100% / 3 - 2rem - 2rem);
  min-width: 8rem;
  float: left;
  margin: 0.5rem;
  border: #8e8e8e 0.1rem solid;
  border-radius: 0.4rem;
}

.cartoon {
  margin: 0;
}

.cartoon_the {
  font-size: 1.6rem;
  font-weight: bold;
  float: right;
}

.cartoon_num {
  font-size: 1.6rem;
  font-weight: bold;
  float: left;
}
